@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	margin: auto;
	text-align: center;
	background-image: url("background.jpg");
	background-size: 100vw;

}

#formContainer{
	margin:auto;
	height: 50vh;
	width: 50vw;
	margin-top: 30vh;
	font-family: 'Poppins';
}



label{
	font-size: 1.5vw;
	font-family: Poppins;
	color : white;
	margin-bottom: 1vh;
}

input {
	font-size: 1vw;
	font-family: 'Poppins';
	margin:auto;
	display: block;
	color : white;
}


#file{
	border-radius: .3vw;
	border-style: solid;
	border-width: .1vw;
	border-color:  rgb(42, 176, 78);
	margin-bottom: 2vh;
	outline: none;
	color:rgb(245, 242, 242);
}

::-webkit-file-upload-button {
  background: rgb(42, 176, 78);
  color: rgb(245, 242, 242);
  border-style: none;
  padding:1vh;
  outline: none;
}

#vikiLab{
	margin-top: -5.5vh;
	margin-left: 22vw;
	width: 10vw;
	display: block;
}

.switch {
  margin-right: 10vw;
  position: relative;
  display: inline-block;
  width: 3.1vw;
  height: 1.8vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.35vw;
  width: 1.35vw;
  left: 0.25vw;
  bottom: 0.25vw;
  background-color: rgb(245, 242, 242);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(42, 176, 78);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(42, 176, 78);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.3vw);
  -ms-transform: translateX(1.3vw);
  transform: translateX(1.3vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.8vw;
}

.slider.round:before {
  border-radius: 50%;
}

#url{
	background-color: hsla(50, 33%, 25%, .0);
	display: none;
	width: 20.7vw;
	border-radius: .3vw;
	border-color: rgb(42, 176, 78);
	border-width: 2px;
	border-style: solid;
	color:rgb(245, 242, 242);
}



#url:focus{

	outline: none;
	border-radius: 1vh;
	border-color: rgb(42, 176, 78);
	border-width: 2px;
	border-style: solid;
	
}



input[type="submit"]{
	margin-top: 1.5vh;
	background-color: rgb(42, 176, 78);
	border-style: none;
	padding: .5vw;
	padding-right:1vw;
	padding-left: 1vw;
	border-radius: .2vw;
	color:rgb(245, 242, 242);
}

input[type="submit"]:hover{
	background-color: rgb(47, 153, 76);
}

